<script type='text/javascript'>
  google.maps.event.addDomListener(window, 'load', initMap);
</script>
<style>
  #map{
    height:100%;
    margin:0;
  }
</style>

<div class="fullscreen">
  <nav>
    <ul class="list-unstyled main-menu">
      <li class="text-right"><a href="#" id="nav-close">X</a></li>
      <li><a href="#">
        <label><input type="checkbox" id='Theatre' onclick="checkbox('Theatre')" checked> Theatre</label>
      </a></li>
      <li><a href="#">
        <label><input type="checkbox" id='Museum' onclick="checkbox('Museum')" checked > Museum</label>
      </a></li>
      <li><a href="#">
        <label><input type="checkbox" id='Club' onclick="checkbox('Club')" checked> Club</label>
      </a></li>
    </ul>
  </nav>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-header pull-right" >
      <a id="nav-expander" class="nav-expander fixed" style="width:65px;">
        <i class="fa fa-bars fa-lg white"></i>
      </a>
    </div>
  </div>
</div>

<div id="map"></div>
