<script type='text/javascript'>
  google.maps.event.addDomListener(window, 'load', initMap);
</script>
<style>
  #map{
    height:100%;
    margin:0;
  }
</style>

<div class="fullscreen">
  <nav>
    <ul class="list-unstyled main-menu">
      <li class="text-right"><a href="#" id="nav-close">X</a></li>
      <% @category.each do |c| %>
        <li><a href="#">
          <label><input type="checkbox" id='<%= c %>' onclick="checkbox('<%= c %>')" checked> <%= c %></label>
        </a></li>
      <% end %>
    </ul>
  </nav>

  <a id="nav-expander" class="nav-expander fixed" style="">
    <i class="fa fa-bars fa-lg white" ></i>
  </a>
</div>

<div id="map"></div>
