<script type='text/javascript'>
  google.maps.event.addDomListener(window, 'load', initMap);
</script>
<div class= 'mappy'>
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="title"> Insider Prototype Point of interest</h1>
      </div>
    </div>

    <div class="row map-container" >
      <div class="col-sm-12">
        <div id='map'>
        </div>
      </div>
    </div>

    <div class="row checkbox-container">
      <div class="col-sm-12">
        <form>
          <input type="checkbox" id='Theatre' onclick="checkbox('Theatre')" checked> Theatre
          <input type="checkbox" id='Museum' onclick="checkbox('Museum')" checked > Museum
          <input type="checkbox" id='Club' onclick="checkbox('Club')" checked> Club
        </form>
      </div>
    </div>

    <div class="row">
      <%= render 'info', :elem => 'Theatre' %>
      <%= render 'info', :elem => 'Museum' %>
      <%= render 'info', :elem => 'Club' %>
    </div>
  </div>
</div>
