<script type='text/javascript'>
  google.maps.event.addDomListener(window, 'load', initMap);
</script>

<div class= 'mappy'>
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="title"> Insider Prototype Point of interest</h1>
      </div>
    </div>

    <div class="row map-container" >
      <div class="col-sm-12">
        <div id='map'>
        </div>
      </div>
    </div>

    <div class="row checkbox-container">
      <div class="col-sm-12">
          <div class="btn-full-screen">
            <button id="btn-enter-full-screen">Enter full Screen</button>
            <button id="btn-exit-full-screen" >Exit full Screen</button>
          </div>
        <form>
          <input type="checkbox" id='theatre' onclick="checkbox('theatre')" > Theatre
          <input type="checkbox" id='museum' onclick="checkbox('museum')" > Museum
          <input type="checkbox" id='club' onclick="checkbox('club')"> Club
        </form>
      </div>
    </div>

    <div class="row">
      <%= render 'info', :elem => 'theatre' %>
      <%= render 'info', :elem => 'museum' %>
      <%= render 'info', :elem => 'club' %>
    </div>
  </div>
</div>
