<script type='text/javascript'>
  google.maps.event.addDomListener(window, 'load', initMap);
</script>

<div class= 'mappy'>
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h1 class="title"> Insider Prototype Point of interest</h1>
      </div>
    </div>

    <div class="row map-container" >
      <div class="col-sm-12">
        <div id='map'>
        </div>
      </div>
    </div>

    <div class="row checkbox-container">
      <div class="col-sm-12">
        <form>
          <% @category.each do |c| %>
            <label><input type="checkbox" id='<%= c %>' onclick="checkbox('<%= c %>')" checked> <%= c %></label>
          <% end %>
       </form>
      </div>
    </div>

    <div class="row">
      <% @category.each do |c| %>
        <%= render 'info', :elem => c %>
      <% end %>
    </div>
  </div>
</div>
