var map;
var circle;
var homeposition;
var markers = [];
var iconBase = 'https://storage.googleapis.com/geolocalisation/';
var icons = {
  Theatre: {
    icon: iconBase + 'theatre05.png'
  },
  Club: {
    icon: iconBase + 'club01.png'
  },
  Museum: {
    icon: iconBase + 'museum.png'
  },
  Cafe: {
    icon: iconBase + 'cafe.png'
  },
  Restaurant: {
    icon: iconBase + 'restaurant.png'
  },
  Bar: {
    icon: iconBase + 'bar.png'
  }
};

function initMap() {
  var paris = {lat: 48.856614, lng: 2.3522219000000177};
  var myloc;

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 2,
    center: paris,
    mapTypeControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  myloc = new google.maps.Marker({
    clickable: true,
    icon: new google.maps.MarkerImage('http://maps.gstatic.com/mapfiles/mobile/mobileimgs2.png',
                                        new google.maps.Size(22,22),
                                        new google.maps.Point(0,18),
                                        new google.maps.Point(11,11)
                                      ),
    map: map
  })

  var elem;
  var all_theme;
  var vars;
  var i;
  var j;
  var cat  = ["Theatre", "Club", "Museum", "Restaurant" ,"Bar","Cafe"]
  var query = window.location.search.substring(1);
  var param = false;

  if(query){
  vars = query.split("&");
  for (i = 0; i < vars.length; i++) {
    all_theme = vars[i].split("=");
    elem = all_theme[1].split(",");
      if ( all_theme[0]  == 'category'){
        for (j = 0; j< elem.length; j++){
          show_by_filter(elem[j]);
          document.getElementById(elem[j]).checked = true;
        }
      }
      else if (all_theme[0] == 'zoom'){
        param = true;
        var number =parseInt(elem[0]);
        map.setZoom(number);
      }
      else if ((all_theme[0] == 'latlng') && (elem.length== 2)){
        param = true;
        var new_center = new google.maps.LatLng(elem[0], elem[1]);
        map.setCenter(new_center);
      }
    }
  }

  else{
    i = 0;
    show_by_filter('all');
    while(cat[i]){
      document.getElementById(cat[i]).checked = true;
      i++;
    }
  }

  if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function(pos) {
    homeposition = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
    myloc.setPosition(homeposition);
    if(param == false)
      map.setOptions({zoom : 14, center: homeposition});
  });
}

function show_by_filter(elem){
  $.ajax({
    type: "GET",
    url: '/interests',
    data : 'category='+elem,
    success: function (data) {
      addMarker(data);
    }
  })
}

function setMapNotOnAll(map, elem) {
  for (i = 0; i < markers.length; i++) {
    if(markers[i].category == elem)
      markers[i].setMap(map);
  }
}

function addMarker(arrInfo) {
  var marker;
  var phone;
  var website;
  var thumbnail;
  var infoBubble = new InfoBubble;

  for (i = 0; i < arrInfo.length ; i++){
    marker = new google.maps.Marker({
      clickable : true,
      position: { lat: arrInfo[i].latitude, lng: arrInfo[i].longitude },
      icon: icons[arrInfo[i].category].icon,
      map: map,
      category: arrInfo[i].category
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        if (infoBubble.getMap() != null) {
            infoBubble.close()
            delete infoBubble;
            infoBubble = new InfoBubble({
            minWidth: 350,
            minHeight: 150
            });
        }
        phone = '<p>' + (arrInfo[i].phone ? 'Phone number : ' + arrInfo[i].phone +' </p>' : '</p>');
        website = '<p>' + (arrInfo[i].website ? 'website : <a href='+ '"' + arrInfo[i].website +'">' + arrInfo[i].website + '</a>' : '</p>')
        thumbnail = '<p>' + ((arrInfo[i].thumbnail_url.match("missing.png")) == null ? '<img src=' + arrInfo[i].thumbnail_url + 'alt="image of interest"> </p>' : '</p>');
        infoBubble.open(map, marker);
        infoBubble.addTab("<div class='infowindow'>Info</div>",
          '<div class="infowindow">'+
          '<h1>'+ arrInfo[i].name +'</h1>'+
          '<div id="bodywindow">'+
          '<p> Address:&nbsp' + arrInfo[i].address + '</p>' +
          phone +
          thumbnail +
          website +
          '</div>'+
          '</div>');
     //     infoBubble.addTab("<div class='infowindow'>Rating</div>", "<div class='infowindow'>Here Rating</div>");
     //     infoBubble.addTab("<div class='infowindow'>Facilities</div>","<div class='infowindow'>Facilities: Ratp handicape parking bus ect...</div>");
      }
    })(marker, i));
    markers.push(marker);
  }
}

function createCircle(map){
  circle = new google.maps.Circle({
      strokeColor: '#FE9C06',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FE9C06',
      fillOpacity: 0.35,
      map: map,
      center: homeposition,
      radius: 700
  });
  map.setOptions({zoom : 15, center: homeposition});
}

function checkbox(id){
  if (document.getElementById(id).checked == true){
    $('.'+id).show();
    show_by_filter(id);
  }
  else{
    setMapNotOnAll(null, id);
    $('.'+ id).hide();
  }
}

function checkCircle(id){
  if (document.getElementById(id).checked == true)
    createCircle(map, null );
  else{
    circle.setMap(null);
  }
}
