var map;
var circle;
var homeposition;
var markers = [];
var directionsDisplay = new google.maps.DirectionsRenderer;
var cat  = ["Theatre", "Club", "Museum", "Restaurant" ,"Bar","Cafe"];
var infoBubble;
var logged_in = false;
var iconBase = 'https://storage.googleapis.com/geolocalisation/';
var icons = {
  Theatre: {
    icon: iconBase + 'theatre05.png'
  },
  Club: {
    icon: iconBase + 'club01.png'
  },
  Museum: {
    icon: iconBase + 'museum.png'
  },
  Cafe: {
    icon: iconBase + 'cafe.png'
  },
  Restaurant: {
    icon: iconBase + 'restaurant.png'
  },
  Bar: {
    icon: iconBase + 'bar.png'
  }
};

function currentUser(){
  logged_in = true;
}
function initMap() {
  var paris = {lat: 48.856614, lng: 2.3522219000000177};
  var myloc;

  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 2,
    center: paris,
    mapTypeControl: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  myloc = new google.maps.Marker({
    clickable: true,
    icon: new google.maps.MarkerImage('http://maps.gstatic.com/mapfiles/mobile/mobileimgs2.png',
                                        new google.maps.Size(22,22),
                                        new google.maps.Point(0,18),
                                        new google.maps.Point(11,11)
                                      ),
    map: map
  })

  var elem;
  var all_theme;
  var vars;
  var i;
  var query = window.location.search.substring(1);
  var param = false;

  if(query){
    vars = query.split("&");
    for (i = 0; i < vars.length; i++) {
      all_theme = vars[i].split("=");
      if (all_theme[0] == 'tag')
        show_by_filter(vars[i]);
      else if ( all_theme[0]  == 'category'){
        show_by_filter(vars[i])
        elem = all_theme[1].split(",");
        checkcat(elem, true);
      }
      else if (all_theme[0] == 'zoom'){
        param = true;
        var number = parseInt(elem[0]);
        map.setZoom(number);
      }
      else if ((all_theme[0] == 'latlng') && (elem.length== 2)){
        param = true;
        var new_center = new google.maps.LatLng(elem[0], elem[1]);
        map.setCenter(new_center);
      }
    }
  }

  else{
    i = 0;
    show_by_filter('category=all');
    while(cat[i]){
      document.getElementById(cat[i]).checked = true;
      i++;
    }
  }

  if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function(pos) {
    homeposition = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
    myloc.setPosition(homeposition);
    if(param == false)
      map.setOptions({zoom : 14, center: homeposition});
  });
}

function show_by_filter(datas){
  $.ajax({
    type: "GET",
    url: '/interests',
    data : datas,
    success: function (data) {
      addMarker(data);
    }
  })
}

function setMapNotOnAll(map, elem) {
  for (i = 0; i < markers.length; i++) {
    if(markers[i].category == elem)
      markers[i].setMap(map);
  }
}

function getMeThere(lat, lng){
  var directionsService = new google.maps.DirectionsService;
  var start = homeposition;
  var end = new google.maps.LatLng( lat, lng);

  infoBubble.close();
  directionsDisplay.setMap(map);
  directionsService.route({
    origin: start,
    destination: end,
    travelMode: google.maps.TravelMode.WALKING,
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

function bookmarkers(id){
  $.ajax({
    type: "POST",
    url: '/bookmarkers',
    data : 'id='+id,
    success: function (data) {
      alert('Point register');
    },
    error: function(){
      alert('something is wrong');
    }
  });
}

function addMarker(arrInfo) {
  var marker;
  var phone;
  var website;
  var thumbnail;
  infoBubble = new InfoBubble;

  for (i = 0; i < arrInfo.length ; i++){
    marker = new google.maps.Marker({
      clickable : true,
      position: { lat: arrInfo[i].latitude, lng: arrInfo[i].longitude },
      icon: icons[arrInfo[i].category].icon,
      map: map,
      category: arrInfo[i].category
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        if (infoBubble.getMap() != null) {
            infoBubble.close()
            delete infoBubble;
            infoBubble = new InfoBubble({
            minWidth: 350,
            minHeight: 150
            });
        }
        phone = '<p>' + (arrInfo[i].phone ? 'Phone number : ' + arrInfo[i].phone +' </p>' : '</p>');
        website = '<p>' + (arrInfo[i].website ? 'website : <a href='+ '"' + arrInfo[i].website +'">' + arrInfo[i].website + '</a>' : '</p>')
        thumbnail = '<p>' + ((arrInfo[i].thumbnail_url.match("missing.png")) == null ? '<img src=' + arrInfo[i].thumbnail_url + 'alt="image of interest"> </p>' : '</p>');
        if (logged_in == true )
          bookmarker = "<button onclick='bookmarkers("+ arrInfo[i].id + ")' class='getmethere'>Bookmarker</button>"
        else
          bookmarker = ''
        infoBubble.open(map, marker);
        infoBubble.addTab("<div class='infowindow'>Info</div>",
          '<div class="infowindow" style="">'+
          '<h1>'+ arrInfo[i].name +'</h1>'+
          '<div id="bodywindow">'+
          '<p> Address:&nbsp' + arrInfo[i].address + '</p>' +
          "<button onclick='getMeThere("+ arrInfo[i].latitude +","+ arrInfo[i].longitude +")' class='getmethere'>Get me there</button>" +
          bookmarker +
          phone +
          thumbnail +
          website +
          '</div>'+
          '</div>');
     //     infoBubble.addTab("<div class='infowindow'>Rating</div>", "<div class='infowindow'>Here Rating</div>");
     //     infoBubble.addTab("<div class='infowindow'>Facilities</div>","<div class='infowindow'>Facilities: Ratp handicape parking bus ect...</div>");
      }
    })(marker, i));
    markers.push(marker);
  }
}

function createCircle(map){
  circle = new google.maps.Circle({
      strokeColor: '#FE9C06',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FE9C06',
      fillOpacity: 0.35,
      map: map,
      center: homeposition,
      radius: 700
  });
  map.setOptions({zoom : 15, center: homeposition});
}

function checkcat(elem, bol){
  for (var j = 0; j< elem.length; j++){
    document.getElementById(elem[j]).checked = bol;
  }
}

function checkbox(id){
  if (document.getElementById(id).checked == true){
    $('.'+id).show();
    show_by_filter('category='+ id);
  }
  else{
    console.log(id)
    setMapNotOnAll(null, id);
    $('.'+ id).hide();
  }
}

function checkCircle(id){
  if (document.getElementById(id).checked == true)
    createCircle(map, null );
  else{
    circle.setMap(null)
  }
}

function checkBookmarker(id){
  if (document.getElementById(id).checked == true)
  {
    for (i = 0; i < markers.length; i++) {
      markers[i].setMap(null);
    }
    checkcat(cat, false);
    $.ajax({
      type: "GET",
      url: '/bookmarkers',
      data : '',
      success: function (data) {
        addMarker(data);
      }
    })
  }
  else{
    show_by_filter('category=all');
    checkcat(cat, true);
  }
}
