// Place all the styles related to the interest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
  position:         absolute;
  height:           100%;
  width:            100%;
  background-color: rgb(255, 175, 79)!important;
  color:            #815D3C !important;
}

.fadeout{
  margin-bottom: 0px !important;
}

.title{
  margin-bottom: 15px;
}

.map-container{
  margin-bottom: 15px;
}

#map{
  width:      100%;
  height:     480px;
  text-align: center;
}

.checkbox-container{
  margin-bottom: 15px;
}

.mappy{
  .row{
    text-align: center;
  }
}

.infowindow{
  color:black;
  h1{
    color: #3C3C3C;
  }
  img{
    text-align: center !important;
  }
}

.fullscreen{
  .fa-bars{
    line-height: 1.85em;
  }
  #nav-close{
    padding-right: 0px;
  }
}

.devise-page{
  margin-top: 15px;
  text-align: center;
  h2{
    color:      #9d1535;
  }
  .back-to-map-link{
    text-align: left !important;
  }
  .devise-submit{
    color:        #815D3C;
    background :  #FFF07A;
    border-color: #FFFAC0;
    text-shadow:  none !important;
    margin-top :  15px;
    padding:      6px 60px;
    font-size:    17px;
    font-weight:  normal;
  }
  .devise-submit:hover{
    background :  #FFF07A !important;
  }
}

.first{
  margin-top: 15px;
}

.center{
  text-align: center;
}

