// Place all the styles related to the interest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: rgb(255, 175, 79)!important;
$button: #FFF07A;
$button-border: #FFFAC0;
$text-color: #815D3C !important;
$title-color: #9d1535;

html, body{
  position:         absolute;
  height:           100%;
  width:            100%;
  background-color: $background;
  color:            $text-color !important;
}

.fadeout{
  margin-bottom: 0px !important;
}

.title{
  margin-bottom: 15px;
}

.map-container{
  margin-bottom: 15px;
}

#map{
  height: 100%;
}

.checkbox-container{
  margin-bottom: 15px;
}

.mappy{
  .row{
    text-align: center;
  }
}

.fullscreen{
  .fa-bars{
    line-height: 1.85em;
  }
  #nav-close{
    padding-right: 0px;
  }
}

.infowindow{
  color: black;
  text-align: center;
  h1{
    color: #3C3C3C;
  }
  img{
    text-align: center !important;
  }
}

.getmethere{
  background :  rgb(255, 175, 79);
  border-color: $button-border;
  text-shadow:  none !important;
}

.devise-page{
  margin-top: 15px;
  text-align: center;
  h2{
    color: $title-color;
  }
  .back-to-map-link{
    text-align: left !important;
  }
  .devise-submit{
    color:        $text-color;
    background :  $button;
    border-color: $button-border;
    text-shadow:  none !important;
    margin-top :  15px;
    padding:      6px 60px;
    font-size:    17px;
    font-weight:  normal;
  }
  .devise-submit:hover{
    background : $button !important;
  }
}

.first{
  margin-top: 15px;
}

.center{
  text-align: center;
}

.cursor-pointer{
  cursor: pointer;
}
